<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>join to outstanding word of cricket</title>
</head>
<link rel="stylesheet" href="/logsin/logsi.css">
<body>
    <h2>Access <p> join the world of world of cricket</p></h2>
<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form action="#">
     <!-- <h1>Create Account</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>Login on HC</span>
      <input type="text" placeholder="Name" />
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <button>create</button> -->
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form action="/create" method="post">
      <h1>Create account</h1>
     <!-- <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>-->
      
      <input name ="name" type="text" id="name" placeholder="Enter your name" required/>
      <input name="username" type="text" id="placeholder" placeholder="Enter your @username" required />
      <input name="email" type="email" id="email" placeholder="Enter your email" required />
      <input name="password" type="password" id="password" placeholder="Password" required />
      <div class="flex">
        <input type="checkbox" name="check" id="check" required/><h4>Accpect our <a href="http://"> terms and conditions</a> and <a href="http://"> privacy policy</a></h4>
      </div>
    <a href="/login">Have an account LOGIN</a>
      <button type="submit">Create Account</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" id="signIn">Create account</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hi readers!</h1>
        <p>Create an account to halfcricketer to do some amazing things on this platform</p>
        <button class="ghost" id="signUp"><a href="/login">Log in</a></button>
      </div>
    </div>
  </div>
</div>


</body>
</html>