body {
    color: #555;
    background-color: #5B9EED;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
    color: #000;
  }
  .list-wrapper {
    max-width: 400px;
    margin: 50px auto;
  }
  
  .list {
    background: #fff;
    border-radius: 2px;
    list-style: none;
    padding: 10px 20px;
  }
  
  .list-item {
    display: flex;
    margin: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .list-item:last-child {
    border-bottom: none;
  }
  .list-item-image {
    border-radius: 50%;
    width: 64px;
    height: 64px;
  }
  .list-item-content {
    margin-left: 20px;
  }
  .list-item-content h4, .list-item-content p {
    margin: 0;
  }
  .list-item-content h4 {
    margin-top: 10px;
    font-size: 18px;
  }
  .list-item-content p {
    margin-top: 5px;
    color: #aaa;
  }

  .sear{
   
    height: 10vh;
    margin: 0;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
  #search{
    transform: translateY(10px);
  }

  #item{
    border:none;
    outline: none;
    padding: 3px;
    height: 5vh;
    padding: 7px;
    border: 1px solid gray;
    color: #fff;
    background: transparent;
    border-radius: 25px;
  }
  #subtn{
    color: aliceblue;
    text-align: center;
   background-color: #000;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    transition: ease .4s;
    margin-left: 5px;
    padding: 5px;
    border-radius: 3px;
  }
  
  #subtn:hover{
    background-color: aliceblue;
    color: #000;
    transform: translateY(4px);
  }